<section class="hero is-success">
	<div class="hero-body">
		<div class="container">
			<h1 class="title">
				詳細画面
			</h1>
		</div>
	</div>
</section>

<section class="section">
	<div class="continer">
		<div class="column is-centered">
			<div class="column is-7">
				<div class="card">
					<div class="card-image">
						<figure class="image is-4by3">
							<%= attachment_image_tag @baby, :image %>
						</figure>
					</div>

					<div class="card-content">
						<div class="media">
							<div class="media-content">タイトル
								<p class="title is-3"><%= @baby.title %></p>
							</div>
							<div class="media-right">
								<p class="title is-4"></p>
								<p class="title is-4">いいね
							<% if current_user.already_favorited?(@baby) %>
								<%= link_to baby_favorites_path(@baby), method: :delete do %>
									<i class="fas fa-heart"></i>
								<% end %>
							<% else %>
								<%= link_to baby_favorites_path(@baby),method: :create do %>
									<i class="far fa-heart"></i>
								<% end %>
							<% end %>
							<%= @baby.favorites.count %>
							</div>
						</div>

						<div class="content">
							<table class="table is-narrow">
								<tr>
									<th>メッセージ・メモリー</th>
								</tr>
								<tr>
									<td><%= simple_format @baby.body %></td>
								</tr>
							</table>
							<% if @baby.user.id == current_user.id %>
								<%= link_to "編集", edit_baby_path(@baby), class: "button is-success" %>
							<% end %>
						</div>
					</div>
				</div>
			</div>

			<div class="column is-4">
				<article class="panel is-link">
					<p class="panel-heading">
						<%= @baby.user.username %>
					</p>
					<div class="panel-block">
						<p class="control">
							<%= @baby.user.profile %>
						</p>
					</div>
					<%= link_to user_path(@baby.user), class: "panel-block" do %>
					<span class="panel-icon">
						<i class="fas fa-user" aria-hidden="true"></i>
					</span>
					<%= @baby.user.username %>さんのページへ
					<% end %>
				</article>
			</div>
		</div>
	</div>
</section>


<h2>コメント一覧</h2>
<table>
	<% @comments.each do |comment| %>
		<tr>
			<td class="show-comment">
				<%= link_to user_path(comment.user), class: "user_#{comment.user.id}" do %>
					<%= attachment_image_tag comment.user, :profile_image, fallback: "no-image.png", size: "50x50" %><br>
					<%= comment.user.name %>
				<% end %>
			</td>
			<td class="show-comment"><%= comment.comment %></td>
			<% if current_user == comment.user %>
				<%= link_to 'Destroy', baby_comment_path(@baby, comment), class: 'btn-sm btn-danger', method: :delete %></td>
			<% end %>
		</tr>
	<% end %>
</table>

<div class="comment-form">
	<%= form_for [@baby, @comment] do |f| %>
		<%= f.text_area :comment, size: "90x5" %>
		<%= f.submit '送信', class: "btn-sm btn-primary" %>
	<% end %>
</div>
