<section class="hero is-success">
	<div class="hero-body">
		<div class="container">
			<h1 class="title">
				投稿詳細
			</h1>
		</div>
	</div>
</section>


<section class="section">
	<div class="container">
		<div class="columns is-centered">
			<div class="column is-7">
				<div class="card">
					<div class="card-image">
						<figure class="image is-4by3">
							<%= attachment_image_tag @baby, :image %>
						</figure>
					</div>


					<div class="card-content">
						<div class="media">
							<div class="media-content">タイトル
								<p class="title is-3"><%= @baby.title %></p>
							</div>


						<!-- いいね機能非同期通信 -->
						<p class="title is-4">
							<div id="favorites_buttons_<%= @baby.id %>">
            					<%= render partial: 'favorites/favorite', locals: { baby: @baby} %>
          					</div>
          				</p>
          				<!-- いいね非同期通信 -->
						</div>


						<div class="content">
							<table class="table is-narrow">
								<tr>
									<th>メッセージ・メモリー</th>
								</tr>
								<tr>
									<td><%= simple_format @baby.body %></td>
								</tr>
							</table>
							<% if @baby.user.id == current_user.id %>
								<%= link_to "編集", edit_baby_path(@baby), class: "button is-success" %>
							<% end %>
						</div>
					</div>
				</div>
			</div>


			<div class="column is-4">
				<article class="panel is-info">
					<p class="panel-heading">
						<%= @baby.user.username %>
					</p>
					<div class="panel-block">
						<p class="control">
							<%= @baby.user.profile %>
						</p>
					</div>
					<%= link_to user_path(@baby.user), class: "panel-block" do %>
					<span class="panel-icon">
						<i class="fas fa-user" aria-hidden="true"></i>
					</span>
					<%= @baby.user.username %>さんのページへ
					<% end %>
				</article>


				<article class="panel is-info">
					<p class="panel-heading">
						コメント一覧
					</p>

					<% @comments.each do |comment| %>

						<div class="panel-block">
							<div class="media-left">
								<%= link_to user_path(comment.user), class: "user_#{comment.user.id}" do %>
									<%= attachment_image_tag comment.user, :profile_image, fallback: "no-image.png", size: "50x50" %>
									<%= comment.user.username %><br>
								<% end %>
								<time><%= comment.updated_at.strftime("%m/%d %H:%M") %></time>
							</div>

							<p class="control">
								<%= comment.comment %>
							</p>
							<div class="media-right">
								<% if current_user == comment.user %>
									<%= link_to '削除', baby_comment_path(@baby, comment), class: 'button is-danger', method: :delete, size: "20x20" %>
								<% end %><br>
							</div>
						</div>
					<% end %>

					<div class="media-left">
						<%= form_for [@baby, @comment] do |f| %>
							<div class="panel-block">
								<div class="field">
									<%= f.label :comment, "コメントを書く", class: "label" %>
									<%= f.text_area :comment, class: "input" %>
									<%= f.submit '送信', class: "button is-primary" %>
								</div>
							</div>
						<% end %>
					</div>

				</article>
			</div>
		</div>
	</div>
</section>

